pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-stubs==1.5.3.230304
sklearn-pandas==2.2.0
numpy==1.23.5
torch
torchaudio
torchdata==0.7.0
torchsummary==1.5.1
torchtext==0.16.0
torchvision
tqdm==4.66.1
transformers==4.34.1
gluonts==0.13.7
typing_extensions==4.5.0
accelerate==0.24.0
protobuf==3.20.0